.main-order{
    margin: 40px 15px 0 15px;
    color: white;
}

.food-option{
    display: flex;
    flex-flow: column;
    color: khaki;
    margin-top: 20px;   
}

.order-takeout{
    font-size: 2rem;
}

.food-option .food-row{
    display: flex;
    flex-flow: row;
    font-size: 1.5rem;
}

.food-row .inline-name{
    display: inline-flex;
    margin-top: 35px;
    align-items: baseline;
}

.food-row .quantities{
    text-align: center;
    margin-right: 12px;
}

.food-row .prices{
    text-align: center;
}

textarea::placeholder{
    font-size: 1.5rem;
}

.inline-name label{
    padding-left: 5px;
}

.order-button{
    text-align: center;
    font-size: 1.5rem;
    color: white;
    margin-top: 30px;
}

button:active{
    color:aqua;
}

.payment-method{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.payment-detail{
    display: flex;
    align-items: baseline;
    margin: 0 30px 0 30px;
}

.credit-card{
    display: FLEX;
    flex-flow: column;
    justify-content: center;
}

.credit-info{
    display: flex;
    flex-flow: row;
}

.credit-item {
    display: flex;
    flex-flow: column;
}

.m-form{
    margin: 20px;
}

.main-order h3{
    text-align: center;
    margin-bottom: 40px;
    color:rgb(255, 255, 255);
    font-weight: 600;
    font-size: 2em;
    text-shadow: 2px 3px 2px mediumblue;
}
  
.error {
color: red;
font-size: 18px;
}

label.error {
display: inline;
}

.order-takeout input.error{
    border: 1px solid red;
}


@media screen and (min-width: 750px){

    .main-order{
        font-size: 2.5rem;
        margin: 50px 60px 0 60px;
    }

    .order-takeout {
        font-size: 2rem;
    }

    .inline-name label{
        padding-left: 15px;
    }

    textarea::placeholder{
        font-size: 2rem;
    }

    .food-option .food-row{
        font-size: 1.7rem;
    }

    .food-row .prices{
        margin-right: 50px;
    }

    .food-row .inline-name{
        margin-left: 50px;
    }

    #submit{
        font-size: 2rem;
        width: 150px;
        height: 60px;
    }

    .payment-detail{
        margin: 0 100px 0 100px;
    }

}

@media screen and (min-width: 1400px){

    .main-order{
        font-size: 2.5rem;
        margin: 50px 300px 0 300px;
    }

    .food-row .prices{
        margin-right: 100px;
    }

    .food-row .inline-name{
        margin-left: 100px;
    }
    
}



